body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
}
#paragraph {
  width: 500px;
  margin: 10px auto 10px auto;
}
#Education {
  color: purple;
  font-size: 40px;
}
.awesome {
  color: blue;
  font-size: 36 px;
}
.cool {
  color: grey;
  font-size: 40 px;
}
.pic {
  font-size: 20px;
}
.gentle {
  color: red;
  font-size: 30px;
}
#summary2 {
  color: orange;
  font-size: 30 px;
}
